* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  margin: auto;
  left: 0;
  right: 0;
  position: fixed;
}

header #desktop ul {
  background: grey;
  height: 80px;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header #desktop ul a {
  font-size: 30px;
  text-decoration: none;
}

header #mobile ul {
  margin: 0;
  list-style: none;
  padding: 0;
  padding-top: 40%;
  background: grey;
  top: 0;
  min-height: 100vh;
  left: -70vw;
  width: 70vw;
  position: fixed;
  transition: transform .3s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  border-right: 2px solid #fff;
}

header #mobile ul li {
  width: 100%;
  padding: 26px;
  text-align: right;
}

header #mobile ul li a {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px black;
}

header #mobile ul.active {
  transform: translateX(100%);
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.75);
}

.hamburger {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 60px;
  display: none;
}

.hamburger i {
  padding: 20px;
}

article:first-of-type {
  padding-top: 80px;
}

article {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid black;
  background: #797979;
}

article .content {
  height: 100vh;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

article .content .topContent {
  min-height: 5vh;
  min-height: 50px;
  background: grey;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  font-size: 40px;
}

article .content .descContent {
  min-height: 95vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

article.inputSection .content {
  -ms-flex-align: center;
      align-items: center;
}

article.inputSection .content h1 {
  font-size: 40px;
  margin: 20px 0;
}

article.inputSection .content input, article.inputSection .content select, article.inputSection .content .input {
  height: 50px;
  width: 220px;
  font-size: 22px;
  border: none;
  border-radius: 8px;
}

article.inputSection .content input:focus, article.inputSection .content select:focus, article.inputSection .content .input:focus {
  outline: none;
  background: silver;
}

article.inputSection .content .inputsContainer {
  display: -ms-flexbox;
  display: flex;
}

article.inputSection .content .inputsContainer .inputWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 10px;
}

article.inputSection .content .inputsContainer .inputWrapper label {
  font-size: 22px;
  margin-bottom: 10px;
}

article.inputSection .content .inputsContainer .inputWrapper p.info {
  font-size: 18px;
  color: red;
  height: 24px;
}

article.inputSection .content .destinyNumberWrap {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 24px;
  min-height: 200px;
}

article.inputSection .content .destinyNumberWrap .destinyNumber {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 70px;
  width: 80px;
  background: blue;
}

@media (max-width: 767px) {
  header #desktop ul {
    display: none;
  }
  .hamburger {
    display: -ms-flexbox;
    display: flex;
  }
  article:first-of-type {
    padding-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */