* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
}

body a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1001;
}

header #desktop {
  background: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #fff;
}

header #desktop.introMenu {
  transform: translateY(-50px);
  transition: 0.5s all ease-in-out;
  opacity: 0;
}

header #desktop.introAppear {
  opacity: 1;
  transform: translateY(0px);
}

header #desktop ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header #desktop ul li {
  list-style: none;
  padding: 10px 0;
}

header #desktop ul li a {
  font-size: 24px;
}

header #mobile ul {
  display: none;
  background-image: url(/images/img1.jpg);
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh;
  left: -70%;
  width: 70%;
  position: fixed;
  -ms-flex-pack: end;
      justify-content: flex-end;
  font-size: 24px;
  box-shadow: 2px 2px 4px black;
  transition: transform .3s;
}

header #mobile ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding: 20px;
}

header #mobile ul li a {
  padding: 20px;
}

header #mobile ul.active {
  transform: translateX(100%);
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.75);
}

header .hamburger {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 60px;
  display: none;
}

header .hamburger i {
  padding: 20px;
}

article.welcomeIntro {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-image: url(/images/img0.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

article.welcomeIntro #logo {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 3.2s;
  text-shadow: 2px 2px 4px #fff;
}

article.welcomeIntro #logo path:nth-child(1) {
  stroke-dasharray: 620;
  stroke-dashoffset: 620;
  box-shadow: 2px 2px 4px #fff;
  animation: line-anim 2s ease forwards;
}

article.welcomeIntro #logo path:nth-child(2) {
  stroke-dasharray: 503;
  stroke-dashoffset: 503;
  animation: line-anim 2s ease forwards .2s;
}

article.welcomeIntro #logo path:nth-child(3) {
  stroke-dasharray: 844;
  stroke-dashoffset: 844;
  animation: line-anim 2s ease forwards .4s;
}

article.welcomeIntro #logo path:nth-child(4) {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: line-anim 2s ease forwards .6s;
}

article.welcomeIntro #logo path:nth-child(5) {
  stroke-dasharray: 530;
  stroke-dashoffset: 530;
  animation: line-anim 2s ease forwards .8s;
}

article.welcomeIntro #logo path:nth-child(6) {
  stroke-dasharray: 554;
  stroke-dashoffset: 554;
  animation: line-anim 2s ease forwards 1s;
}

article.welcomeIntro #logo path:nth-child(7) {
  stroke-dasharray: 302;
  stroke-dashoffset: 302;
  animation: line-anim 2s ease forwards 1.2s;
}

article.welcomeIntro #logo path:nth-child(8) {
  stroke-dasharray: 554;
  stroke-dashoffset: 554;
  animation: line-anim 2s ease forwards 1.4s;
}

article.welcomeIntro #logo path:nth-child(9) {
  stroke-dasharray: 525;
  stroke-dashoffset: 525;
  animation: line-anim 2s ease forwards 1.6s;
}

article.welcomeIntro #logo path:nth-child(10) {
  stroke-dasharray: 217;
  stroke-dashoffset: 217;
  animation: line-anim 2s ease forwards 1.8s;
}

article.welcomeIntro #logo path:nth-child(11) {
  stroke-dasharray: 663;
  stroke-dashoffset: 663;
  animation: line-anim 2s ease forwards 2s;
}

article.welcomeIntro #bgdDigitWrapp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

article.welcomeIntro #bgdDigitWrapp .bgdDig {
  height: 300px;
  position: absolute;
  filter: grayscale(40%);
  opacity: 0;
}

article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-2 {
  bottom: 10%;
  left: 20%;
  animation: digAppear 2s ease-in-out infinite alternate 1s;
}

article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-3 {
  height: 350px;
  right: 5%;
  top: 5%;
  animation: digAppear 1.5s ease-in-out infinite alternate 0.5s;
}

article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-4 {
  height: 380px;
  left: 0%;
  animation: digAppear 2s ease-in-out infinite alternate 1s;
}

article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-5 {
  right: 0%;
  animation: digAppear 2.5s ease-in-out infinite alternate;
}

article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-7 {
  top: 25%;
  animation: digAppear 2s ease-in-out infinite alternate 1.5s;
}

article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-8 {
  bottom: 10%;
  right: 20%;
  animation: digAppear 2.5s ease-in-out infinite alternate 1s;
}

article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-9 {
  height: 220px;
  top: 10%;
  left: 10%;
  animation: digAppear 3s ease-in-out infinite alternate 2s;
}

article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-11 {
  height: 120px;
  right: 55%;
  bottom: 35%;
  animation: digAppear 2.5s ease-in-out infinite alternate;
}

article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-12 {
  top: 15%;
  right: 35%;
  height: 120px;
  animation: digAppear 2s ease-in-out infinite alternate 1.5s;
}

article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-13 {
  bottom: 50%;
  height: 160px;
  right: 30%;
  animation: digAppear 2.5s ease-in-out infinite alternate 1s;
}

article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-10 {
  height: 120px;
  bottom: 10%;
  left: 10%;
  animation: digAppear 3s ease-in-out infinite alternate 2s;
}

@keyframes digAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

article.welcomeIntro .btnStartWrapper {
  position: absolute;
  bottom: 100px;
  animation: bounce 1s ease infinite alternate;
  z-index: 100;
}

article.welcomeIntro .btnStartWrapper i {
  font-size: 60px;
  animation: appear 15s ease forwards;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: goldenrod;
  }
}

article {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  background-image: url(/images/img1.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

article .content {
  margin-top: 50px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 100%;
  letter-spacing: 1px;
}

article .content .topContent {
  display: -ms-flexbox;
  display: flex;
  height: 5%;
  font-size: 40px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  border-bottom: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
}

article .content .topContent.birth {
  -ms-flex-pack: center;
      justify-content: center;
}

article .content .descContent {
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  line-height: 1.6;
  margin: 0 auto;
  text-align: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 22px;
  min-height: auto;
}

article .content .descContent.birth {
  width: 70%;
}

article .content .nextWrapper {
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 5px 0;
}

article .content .btnNext {
  min-height: 60px;
  width: 220px;
  font-size: 22px;
  border: none;
  border-radius: 8px;
  background: orange;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: #fff;
  text-decoration: none;
}

article .content .btnNext:focus, article .content .btnNext:hover {
  outline: none;
  background: orangered;
}

article.inputSection .content {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 1.6;
}

article.inputSection .content .introContent {
  height: 20%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}

article.inputSection .content .introContent .intro {
  text-align: center;
  font-size: 24px;
  width: 90%;
}

article.inputSection .content .introContent h1 {
  font-size: 34px;
}

article.inputSection .content input, article.inputSection .content select, article.inputSection .content .input {
  height: 50px;
  width: 220px;
  font-size: 22px;
  border: none;
  border-radius: 8px;
}

article.inputSection .content input:focus, article.inputSection .content select:focus, article.inputSection .content .input:focus {
  outline: none;
  background: silver;
}

article.inputSection .content .inputsContainer {
  display: -ms-flexbox;
  display: flex;
}

article.inputSection .content .inputsContainer .inputWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 10px;
}

article.inputSection .content .inputsContainer .inputWrapper label {
  font-size: 22px;
  margin-bottom: 10px;
}

article.inputSection .content .inputsContainer .inputWrapper p.info {
  font-size: 18px;
  color: red;
  height: 24px;
}

article.inputSection .content .input {
  cursor: pointer;
}

article.inputSection .content .omenInfo {
  animation: blink 1s infinite ease-in-out;
}

article.inputSection .content .destinyNumberWrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 24px;
  min-height: 200px;
  opacity: 0;
  transition: all .5s ease-in-out;
}

article.inputSection .content .destinyNumberWrap .destinyNumberTitle {
  letter-spacing: 2px;
}

article.inputSection .content .destinyNumberWrap .destinyNumber {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 70px;
  width: 80px;
  animation: blink 1s infinite ease-in-out;
}

article.inputSection .content .destinyNumberWrap.appear {
  opacity: 1;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  header #desktop ul {
    display: none;
    background: red;
  }
  header #mobile ul {
    display: -ms-flexbox;
    display: flex;
  }
  header .hamburger {
    display: -ms-flexbox;
    display: flex;
  }
  article.welcomeIntro #logo {
    width: 90%;
  }
  article.welcomeIntro #bgdDigitWrapp .bgdDig {
    height: 150px;
  }
  article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-2 {
    height: 200px;
    top: 1%;
    left: 2%;
  }
  article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-3 {
    height: 150px;
    right: 5%;
    top: 25%;
  }
  article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-4 {
    height: 150px;
    left: 0%;
    bottom: 30%;
  }
  article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-5 {
    height: 100px;
    right: 5%;
    bottom: 30%;
  }
  article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-7 {
    height: 100px;
    top: 35%;
    left: 20%;
  }
  article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-8 {
    height: 200px;
    bottom: 2%;
    left: 15%;
  }
  article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-9 {
    height: 100px;
    top: 10%;
    left: 60%;
  }
  article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-11 {
    display: none;
  }
  article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-12 {
    display: none;
  }
  article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-13 {
    display: none;
  }
  article.welcomeIntro #bgdDigitWrapp .bgdDig.bgdDigit-10 {
    display: none;
  }
  article.welcomeIntro .btnStartWrapper {
    position: absolute;
    bottom: 100px;
    animation: bounce 1s ease infinite alternate;
  }
  article.welcomeIntro .btnStartWrapper i {
    font-size: 60px;
    animation: appear 15s ease forwards;
  }
  article .content {
    margin-top: 0;
  }
  article.inputSection .content .introContent .intro {
    text-align: center;
    font-size: 16px;
    width: 100%;
  }
  article.inputSection .content .introContent h1 {
    font-size: 24px;
  }
  article.inputSection .content input, article.inputSection .content select, article.inputSection .content .input {
    height: 50px;
    width: 220px;
    font-size: 22px;
    border: none;
    border-radius: 8px;
  }
  article.inputSection .content .inputsContainer {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  article.inputSection .content .inputsContainer .inputWrapper label {
    font-size: 22px;
    margin-bottom: 6px;
  }
  article.inputSection .content .inputsContainer .inputWrapper p.info {
    font-size: 16px;
    color: red;
    height: 20px;
    text-align: center;
  }
  article.inputSection .content .destinyNumberWrap {
    min-height: 100px;
  }
  article.inputSection .content .destinyNumberWrap .destinyNumberTitle {
    letter-spacing: 0;
  }
  article.inputSection .content .destinyNumberWrap .destinyNumber {
    font-size: 50px;
    width: 60px;
  }
}
/*# sourceMappingURL=style.css.map */