* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  margin: auto;
  left: 0;
  right: 0;
  position: fixed;
  
  #desktop ul {
    background: grey;
    height: 80px;
    list-style: none;
    display: flex;
    align-items: center;

    justify-content: space-around;

    a {
      font-size: 30px;
      text-decoration: none;
    }
  }

  #mobile ul {

    margin: 0;
      list-style: none;
      padding: 0;
      padding-top: 40%;
      background: grey;
      top: 0;
      min-height: 100vh;
      left: -70vw;
      width: 70vw;
      position: fixed;
      transition: transform .3s;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-right: 2px solid #fff;

      li {
        width: 100%;
        padding: 26px;
        text-align: right;

        a {
          color: #fff;
          font-size: 24px;
          text-transform: uppercase;
          text-shadow: 1px 1px 4px black;
        }
      }

      &.active {
        transform: translateX(100%);
        box-shadow: 2px 0px 6px rgba(0,0,0,0.75);
      }
  }
}

.hamburger {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 60px;
  display: none;

  i {
    padding: 20px;
  }

}

article:first-of-type {
  padding-top: 80px;
}

article {
  min-height: 100vh;
  display: flex;
  border-bottom: 2px solid black;
  background: rgb(121, 121, 121);

  .content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .topContent {
      min-height: 5vh;
      min-height: 50px;
      background: grey;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 40px;
    }

    .descContent {
      min-height: 95vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

article.inputSection {
  .content {
    align-items: center;

    h1 {
      font-size: 40px;
      margin: 20px 0;
    }

    input, select, .input {
      height: 50px;
      width: 220px;
      font-size: 22px;
      border: none;
      border-radius: 8px;

      &:focus {
        outline: none;
        background: silver;
      }
    }

    .inputsContainer {
      display: flex;

      .inputWrapper {
        display: flex;
        flex-direction: column;
        margin: 0 10px;

        label {
          font-size: 22px;
          margin-bottom: 10px;
        }

        p.info {
          font-size: 18px;
          color: red;
          height: 24px;
          
        }
      }
    }

    .destinyNumberWrap {
      margin-top: 20px;
      // background: red;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      font-size: 24px;
      min-height: 200px;
      .destinyNumber {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 70px;
        width: 80px;
        background: blue;

      }
    }
  }
}

@media(max-width: 767px) {
  header {
    #desktop ul {
      display: none;
    }
  }

  .hamburger {
    display: flex;
  }

  article:first-of-type {
    padding-top: 0;
  }
}