* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: #0a4c7e;

  a {
    color: #fff;
    text-decoration: none;
  }
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;

  #desktop ul {
    display: flex;
    justify-content: space-around;

    li {
      list-style: none;
      padding: 10px 0;

      a {
        font-size: 24px;
      }
    }
  }

  #mobile ul {
    display: none;
    background: #0a4c7e;
    flex-direction: column;
    min-height: 100vh;
    left: -70%;
    width: 70%;
    position: fixed;
    justify-content: flex-end;
    font-size: 24px;
    box-shadow: 2px 2px 4px black;
    transition: transform .3s;
    
    li {
      display: flex;
      justify-content: flex-end;
      padding: 20px;

      a {
        padding: 20px;
      }
    }

    &.active {
      transform: translateX(100%);
      box-shadow: 2px 0px 6px rgba(0,0,0,0.75);
    }
  }

  .hamburger {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 60px;
    display: none;

    i {
      padding: 20px;
    }
  }
}

article {
  min-height: 100vh;
  display: flex;

  .content {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;

    .topContent {
      display: flex;
      height: 5%;
      font-size: 40px;
      align-items: center;
      justify-content: space-evenly;

      &.birth {
        justify-content: center;
      }
    }

    .descContent {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      min-height: auto;
    }

    .nextWrapper {
      display: flex;
      height: 10%;
      align-items: center;
      justify-content: center;
      padding: 5px 0;
    }

    .btnNext {
      min-height: 60px;
      width: 220px;
      font-size: 22px;
      border: none;
      border-radius: 8px;
      background: orange;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-decoration: none;

      &:focus, &:hover {
        outline: none;
        background: orangered;
      }
    }
  }

  &.inputSection {
    
    .content {
      align-items: center;
      justify-content: space-around;

      .introContent {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .intro {
          text-align: center;
          font-size: 24px;
          width: 90%;
        }

        h1 {
          font-size: 34px;
        }
      }

      input, select, .input {
        height: 50px;
        width: 220px;
        font-size: 22px;
        border: none;
        border-radius: 8px;
  
        &:focus {
          outline: none;
          background: silver;
        }
      }

      .inputsContainer {
        display: flex;

        .inputWrapper {
          display: flex;
          flex-direction: column;
          margin: 0 10px;

          label {
            font-size: 22px;
            margin-bottom: 10px;
          }

          p.info {
            font-size: 18px;
            color: red;
            height: 24px;
          }
        }
      }

      .input {
        cursor: pointer;
      }

      .omenInfo {
        animation: blink 1s infinite ease-in-out;
      }
      .destinyNumberWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 24px;
        min-height: 200px;
        opacity: 0;
        transition: all .5s ease-in-out;

        .destinyNumberTitle {
          letter-spacing: 2px;
        }

        .destinyNumber {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 70px;
          width: 80px;
          animation: blink 1s infinite ease-in-out;
        }

        &.appear{
          opacity: 1;
        }
      }
    }
  }

  @keyframes blink {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}

@media(max-width: 767px) {

  header {

    #desktop ul {
      display: none;
      background: red;
    }

    #mobile ul {
      display: flex;
    }

    .hamburger {
      display: flex;
    }
  }

  article {

    .content {
      margin-top: 0;
    }

    &.inputSection {

      .content {

        .introContent {

          .intro {
            text-align: center;
            font-size: 16px;
            width: 100%;
          }

          h1 {
            font-size: 24px;
          }
        }

        input, select, .input {
          height: 50px;
          width: 220px;
          font-size: 22px;
          border: none;
          border-radius: 8px;
        }

        .inputsContainer {
          flex-direction: column;

          .inputWrapper {
  
            label {
              font-size: 22px;
              margin-bottom: 6px;
            }
  
            p.info {
              font-size: 16px;
              color: red;
              height: 20px;
              text-align: center;
            }
          }
        }

        .destinyNumberWrap {
          min-height: 100px;
  
          .destinyNumberTitle {
            letter-spacing: 0;
          }
  
          .destinyNumber {
            font-size: 50px;
            width: 60px;
            // background: blue;
          }
        }
      }
    }
  }
}